FLASK_ENV=<development,production,staging>

#development
username=<username>
password=<password>
dsn=<dsn>
database=<database>
connection=<connection>
port=<port>
debug=<debug>
development=<development>
testing=<testing>
per_page=<per_page>
tracking=<tracking>
page=<page>
secret=<secret>
algorithm=<algorithm>
ip_info_token=<ip_info_token>
mail_host=<mail_host>
mail_user=<mail_user>
mail_password=<mail_password>
mail_port=<mail_port>

#staging
staging_user=<staging_user>
staging_password=<staging_password>
staging_dsn=<staging_dsn>
staging_database=<staging_database>
staging_connection=<staging_connection>
staging_port=<staging_port>
staging_debug=<staging_debug>
staging_development=<staging_development>
staging_testing=<staging_testing>
staging_per_page=<staging_per_page>
staging_page=<staging_page>
staging_tracking=<staging_tracking>
staging_secret=<staging_secret>
staging_algorithm=<staging_algorithm>
staging_ip_info_token=<staging_ip_info_token>
staging_mail_host=<staging_mail_host>
staging_mail_user=<staging_mail_user>
staging_mail_password=<staging_mail_password>
staging_mail_port=<staging_mail_port>


#prod
prod_user=<prod_user>
prod_password=<prod_password>
prod_dsn=<prod_dsn>
prod_database=<prod_database>
prod_connection=<prod_connection>
prod_port=<prod_port>
prod_debug=<prod_debug>
prod_development=<prod_development>
prod_testing=<prod_testing>
prod_per_page=<prod_per_page>
prod_tracking=<prod_tracking>
prod_page=<prod_page>
prod_secret=<prod_secret>
prod_algorithm=<prod_algorithm>
prod_ip_info_token=<prod_ip_info_token>
prod_mail_host=<prod_mail_host>
prod_mail_user=<prod_mail_user>
prod_mail_password=<prod_mail_password>
prod_mail_port=<prod_mail_port>